<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.the.war.of.thewarofstars">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.home.sub.free.detail.FreeLectureDetailActivity"></activity>
        <activity android:name=".ui.home.sub.free.FreeLectureActivity" />
        <activity android:name=".ui.mypage.sub.ConvertInputActivity" />
        <activity android:name=".ui.home.sub.pay.PayCompleteCancelActivity" />
        <activity android:name=".ui.home.sub.pay.PayCompleteOkActivity" />
        <activity android:name=".ui.mypage.sub.ConvertActivity" />
        <activity android:name=".ui.home.sub.pay.PayCompleteActivity" />
        <activity android:name=".ui.home.sub.pay.PayActivity" />
        <activity android:name=".ui.login.RegisterActivity" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/sample2" />
            <!--
                 Set color used with incoming notification messages. This is used when no color is set for the incoming
                 notification message. See README(https://goo.gl/6BKBk7) for more.
            -->
            <meta-data
                android:name="firebase_messaging_auto_init_enabled"
                android:value="false" /> <!-- fcm token not refresh -->
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/black" />
        </service>

        <activity
            android:name=".ui.home.sub.question.QuestionActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.home.sub.GamerDetailActivity" />
        <activity android:name=".ui.login.EmailLoginActivity" />
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>